<mat-toolbar
  color="primary"
  class="mat-elevation-z8"
  style="
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    height: 82px;
  "
>
  <div class="flex justify-between align-middle w-full grow">
    <div>
      <img
        class="w-[72px] object-contain mx-8"
        src="./../../../../assets/images/logo/logo-white.png"
        alt="logo"
      />
    </div>
    <span>
      <a mat-button>Login</a>
      <a mat-button>User profile</a>
      <a mat-raised-button color="white">cart</a>
    </span>
  </div>
</mat-toolbar>
